.cart {
    list-style: none;
    border: 2px solid $color-primary;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;

    &__name {
        font-weight: 700;
        font-size: larger;
    }

    &__quantity {
        font-weight: 600;
    }

    &__price {
        font-weight: 600;
        margin-top: 2rem;
    }
}

.items-container {
    display: flex;
    justify-content: space-evenly;
}

.addItem,
.removeItem {
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    background-color: antiquewhite;
}

.addItem {
    padding: .5rem .5rem .5rem .7rem;
    margin: 1rem 1rem 1rem 6rem;
}

.removeItem {
    padding: .5rem .7rem .5rem .5rem;
    margin: 1rem 0 1rem 1rem;
}

.total-price {
    text-align: center;
    margin-top: 2rem;
    border: 2px solid red;
    padding: 2rem;
    color: rebeccapurple;
    font-weight: 700;
    font-size: larger;
}

.form__contact {
    text-align: center;

    input {
    margin: 1rem 0;
    padding: .4rem;
    border-radius: 1rem;
    width: 70%;
    }
}

.clearCart {
    text-align: center;
    cursor: pointer;
    margin-top: 2rem;
    font-weight: 600;
    
    a {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        border-radius: .5rem;
        padding: 1rem;
        

        &:hover {
            background-color: red;
            color: white;
            padding: 1rem;
        }
    }
}

.validate {
    background-color: white;
    margin: 3rem 0;
    font-weight: 700;
    border-radius: 1rem;
    padding: .4rem;
    cursor: pointer;

    &:hover {
        background-color: greenyellow;
    }
}

@media (max-width: 1023px) {
    .items-container {
        display: block;
    }

    .items {
        padding: 0;
    }

    .addItem {
        margin: 0 1rem 0 0;
    }

    .cart {
        width: 50%;
        margin: 1rem auto;
        text-align: center;
    }

    .total-price {
        width: 30%;
        margin: 2rem auto;
    }

    .title__form {
        text-align: center;
    }
}

@media(max-width: 767px) {
    .cart {
        width: 70%;
    }
}

.errorCart {
    display: none;
    text-align: center;
    color: red;
    font-weight: 700;
}